.container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 20px 500px;
    grid-template-areas: "hd hd" "sd main" "ft ft";
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    grid-area: sd;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-area: main;
}

.sidebar > div {
    margin: 20px;
}

#blog-index {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

#blog-index > a {
    margin: 5px;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: initial;
}

#buttons > button{
    margin: 10px;
}

